@using Microsoft.AspNet.Identity
    @{
        ViewBag.Title = "Home Page";
    }

    <div class="row top-buffer text-center">
        <h1 class="tag-line">Milwaukee Waste Disposal</h1>
    </div>

    @if (User.IsInRole("Maintenance"))
    {
        <div class="row top-buffer bottom-buffer">
            <div class="col-sm-6 col-sm-offset-3 icons text-center">
                <h3>Check My Route.....</h3>
                <br />
                <a href="@Url.Action("Index","Customers")"><img src="~/Content/Images/list.png" style="height: 80px;" /></a>
            </div>
        </div>
    }
   
 
        <div class="row top-buffer bottom-buffer">
            <div class="col-sm-4 icons text-center">
                <h2>About us...</h2>
                <br />
                <a href="@Url.Action("About","Home")"><img src="~/Content/Images/truck.png" /></a>
            </div>
            <div class="col-sm-4 icons text-center">
                <h2>Manage your pickups...</h2>
                <br />
                <a href="@Url.Action("FindMe", "Customers", routeValues: new { input = User.Identity.GetUserId() })"><img src="@Url.Content("~/Content/Images/calendar.png")" style="height: 80px;" /></a>
            </div>
            <div class="col-sm-4 icons text-center">
                <h2>Pay my bill...</h2>
                <br />
                <a href="@Url.Action("FindMe", "Customers", routeValues: new { input = User.Identity.GetUserId() })"><img src="@Url.Content("~/Content/Images/dollar-coin-money.png")" style="height: 80px;" /></a>
            </div>
        </div>
  
