@model MKEWasteDisposal.Models.Customer


@{
    ViewBag.Title = "Details";
}

<h2 class="top-buffer">Customer Details</h2>

<div>
    @if (User.IsInRole("Customer"))
    {<div class="flat-icons bottom-buffer">
        <div class="col-xs-4 text-center">
            <p>
                <a href="@Url.Action("Edit", "Customers", new { id = Model.CustomerID })"><img src="~/Content/Images/pencil.png" style="height: 40px;" /></a>&nbsp;&nbsp;
                Edit Profile
            </p>
        </div>
         <div class="col-xs-4 text-center">
             <p><a href="@Url.Action("Edit", "Customers", new { id = Model.CustomerID })"><img src="~/Content/Images/change.png" style="height: 40px;" /></a>&nbsp;&nbsp;&nbsp;Update Pickup Schedule</p>
         </div>
         <div class="col-xs-4 text-center buffer">
             <form action="/Customers/Charge" method="POST">
                 <article>
                     <label>Amount:  $@Html.DisplayFor(model => model.Bill.Amount)</label>
                 </article>
                 @{ float amount = Model.Bill.Amount;}
                 @{ float adjusted = amount * 100;}
                 <script src="//checkout.stripe.com/v2/checkout.js"
                         class="stripe-button"
                         data-key=" test key goes here"
                         data-locale="auto"
                         data-description="Garbage Bill"
                         data-amount="@Html.Raw(adjusted)">
                 </script>
             </form>
         </div>
    </div>
    }
    <br class="clr" />
    <dl class="dl-horizontal top-buffer">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.StreetAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.StreetAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.State)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.ZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.ZipCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PickUpDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickUpDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlackOutStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlackOutStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlackOutEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlackOutEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Schedule.PickUpFrequency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Schedule.PickUpFrequency)
        </dd>

    </dl>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUBB9Y1Zp2XUbMxdoBx59gnumFO9bJfiM"></script>
<script type="text/javascript">
    $(document).ready(function myMap() {
        var geocoder = new google.maps.Geocoder();
        var cudahy = new google.maps.LatLng(42.95, -87.86);
        var mapCanvas = document.getElementById("map");
        var mapOptions = { center: cudahy, zoom: 9 };
        var map = new google.maps.Map(mapCanvas, mapOptions);

        var marker = new google.maps.Marker({
            position: cudahy,
            map: map
        });
    });
</script> 
@if (User.IsInRole("Maintenance"))
{
    <div id="map" class="top-buffer"></div>
}
