@model MKEWasteDisposal.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h2 class="top-buffer">Customer Details</h2>

<div>
    <hr />
    @if (User.IsInRole("Customer"))
    {<div class="flat-icons">
        <p><a href="@Url.Action("Edit","Customers", new { id = Model.CustomerID })"><img src="~/Content/Images/pencil.png" style="height: 40px;" /></a>&nbsp;&nbsp;
Edit Profile</p>
         <p><a href="@Url.Action("Edit","Customers", new { id = Model.CustomerID })"><img src="~/Content/Images/dollar-coin-money.png" style="height: 40px;" /></a>&nbsp;&nbsp;&nbsp;Pay Bill:&nbsp;&nbsp;&nbsp;$@Html.DisplayFor(model => model.Bill.Amount)</p>
    </div>
       
        @*<p>
            @Html.ActionLink("Update Account", "Edit", new { id = Model.CustomerID })
        </p>*@
    }
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.StreetAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.StreetAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.State)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.ZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.ZipCode)
        </dd>
         @if (User.IsInRole("Customer"))
         {
            <dt>
                @Html.DisplayNameFor(model => model.Bill.Amount)
            </dt>

            <dd class="bill-highlight">
                $@Html.DisplayFor(model => model.Bill.Amount)
            </dd>
         }
   
        <dt>
            @Html.DisplayNameFor(model => model.PickUpDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickUpDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Schedule.PickUpFrequency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Schedule.PickUpFrequency)
        </dd>

    </dl>
</div>




 
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUBB9Y1Zp2XUbMxdoBx59gnumFO9bJfiM"></script>
<script type="text/javascript">
    $(document).ready(function myMap() {
        var cudahy = new google.maps.LatLng(42.95, -87.86);
        var mapCanvas = document.getElementById("map");
        var mapOptions = { center: cudahy, zoom: 9 };
        var map = new google.maps.Map(mapCanvas, mapOptions);

        var myCity = new google.maps.Circle({
            center: cudahy,
            radius: 20000,
            strokeColor: "#0000ff",
            strokeopacity: 0.8,
            strokeWeight: 2,
            fillColor: "#0000ff",
            fillOpacity: 0.4
        });
        myCity.setMap(map);
    });
</script> 

<div id="map"></div>