@model IEnumerable < MKEWasteDisposal.Models.Customer >

<h2 class="top-buffer">Customer Dashboard</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address.StreetAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address.ZipCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickUpDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BlackOutStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BlackOutEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Schedule.PickUpFrequency)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.StreetAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickUpDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlackOutStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlackOutEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Schedule.PickUpFrequency)
            </td>
            <td>
                <a href="@Url.Action("Details", "Customers", new { id = item.CustomerID })"><img src="~/Content/Images/account-settings.png" style="height: 20px;" /></a>&nbsp;&nbsp;
                Account Options
            </td>

        </tr>
    }

</table>